
.section {
    width: 100%;
    height: 400px;
    padding: 0;
    position: relative;
}

.button_container {
}

.fb_button {
    width: fit-content;
    color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    box-shadow: 0 0 0 #fff;
    z-index: 0;
}

.ring {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    top: 60%;
    left: 40%;
    transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    transform: perspective(500px) translate3d(0px, 0px, 0px);
    opacity: 0;
    background: orange;
}

.fb_button:hover .one {
    transform: perspective(500px) translate3d(-90px, -50px, 150px);
    opacity: 1;
}

.fb_button:hover .two {
    transform: perspective(800px) translate3d(-130px, 50px, 180px);
    opacity: 1;
}

.fb_button:hover .three {
    transform: perspective(800px) translate3d(130px, 50px, 30px);
    opacity: 1;
}

.fb_button:hover .four {
    transform: perspective(800px) translate3d(130px, -120px, 80px);
    opacity: 1;
}

.fb_button::after {
    position: absolute;
    top: -40px;
    left: 20px;
    width: 150px;
    height: 150px;
    content: "";
    background: #fff;
    z-index: -1;
    transform: perspective(800px) scale(0) rotate(0deg);
    transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
}

.fb_button:before {
    position: absolute;
    top: -60%;
    left: 5%;
    width: 160px;
    height: 160px;
    content: "";
    background: blue;
    z-index: -1;
    transform: perspective(800px) scale(0.4) rotate(0deg);
    transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
}

.fb_button:hover::after {
    transform: perspective(800px) scale(1) rotate(600deg);
    background: blue;
}

.fb_button:hover::before {
    transform: perspective(800px) scale(1) rotate(-100deg);
    background: white;
}

.fb_button:hover {
    color: orange;
}