.main_footer {
    text-align: center;
    background-color: #0a3851;
    color: #F08319;
    font-size: 0.75rem;
    border-top: 4px solid #F08319;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 1rem;
}

.container col {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.col h1 {
    font-size: 1.2em;
    padding: 10px 0 0;
}


.list_unstyled {
    padding: 0;
    list-style: none;
}

.break_line {
    border: 2px solid #F08319;
}

.copyright > h1 {
    margin: 0;
}

.copyright > .authors {
    font-size: 0.75em;
}

.main_footer a {
    color: #F08319;
    text-decoration: none;
}

.main_footer a:hover {
    color: white;
}

@media (max-width: 768px) {

    .main_footer {
        font-size: 0.6rem;
    }
}