.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.spacer {
  height: 150px;
  width: 100%;
  background: red;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}