.side_drawer {
    height: 100%;
    background-color: #0d384b;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    width: 65%;
    max-width: 350px;
    transform: translateX(100%);
    transition: transform 0.25s ease-out;
}

.side_drawer.open {
    transform: translateX(0);
}

.side_drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.side_drawer li {
    margin: 0.5rem 0;
}

.side_drawer a {
    color: #f5953c;
    text-decoration: none;
    font-size: 1.2rem;
}

.side_drawer a:hover,
.side_drawer a:active {
    color: white;
}

@media(min-width: 769px){
    .side_drawer{
        display: none;
    }
}