.button_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.facebook_button {
    background-color: #4267B2;
    border-radius: 3rem;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
}

.facebook_button > a {

}

.facebook_button:hover {
    background-color: #F08319;
    color: #0a3851;
    text-decoration: none;
}
