.index {
    background-color: #0a3851;
    text-align: center;
    color: #F08319;
    height: 100%;
    width: 100%;
    padding: 0 15%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
}

.index > h1 {
    width: 100%;
    margin-bottom: 5%;
}

.index_element {
    min-width: 25%;
    max-width: 45%;
    height: 350px;
    margin-bottom: 3%;
    position: relative;
    text-align: center;
    color: white;
}

.index_element div {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #F08319;
    font-size: 2.5em;
    text-shadow: -4px -3px 0 rgb(25, 34, 39);
    background: rgba(0, 0, 0, 0.60)
}

.index_element img {
    border: 2px solid #F08319;
    object-fit: cover;
    height: 350px;
}

.index_element:hover img {
    border:2px solid white;
}

.index_element:hover div {
    border:2px solid white;
    background: rgba(0, 0, 0, 0.25)
}


.index_element p {
    position: absolute;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Aller Bold", sans-serif;
    width: 100%;
}

@media (max-width: 1200px) {
    .index_element p {
        font-size: 0.8em;
    }
}

@media (max-width: 768px) {
    .index {
        padding: 0 5%;
    }

    .index_element {
        max-width: 100%;
        height: 250px;
        margin: 3% auto;
    }

    .index_element img {
        height: 250px;
    }


    .index > h1 {
       display: none;
    }
}