.panel {
    height: fit-content;
    width: 100%;
    background-color: rgba(10, 56, 81, 1);
    padding: 30px 20%;
    text-align: center;
}

.panel p {
    color: white;
    margin: 0.25em 0;
    text-align: justify;
    white-space: pre-wrap;

}

.panel p a {
    color: #F08319;
    font-weight: bold;
}

.panel h2 a {
    color: white;
    font-weight: bold;
}

.panel h1 {
    color: rgb(240, 150, 0);
    margin: 1rem 0 1rem 0;
    text-align: center;
}

.panel h2 {
    font-size: 1em;
    color: rgb(240, 150, 0);
    margin: 2rem 0 0.5rem 0;
    text-align: justify;
    white-space: pre-wrap;
}

.panel h3 a {
    color: white;
    font-weight: bold;
}

.panel h3 {
    font-size: 1em;
    color: rgb(240, 150, 0);
    margin: 2rem 0 0.5rem 0;
    text-align: center;
    white-space: pre-wrap;
}

.webp, .png {

}

@media (max-width: 768px) {
    .panel {
        font-size: 0.9em;
        padding: 10px 7%;
    }

    .panel h2 {
        font-size: 0.9rem;
    }

    .panel h3 {
        font-size: 0.9rem;
    }
}

