.image {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    border:2px solid #F08319;
}

.image_container {
    width: 100%;
    height: fit-content;
    text-align: center;
}

@media (max-width: 768px) {

}