.image_circle {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 400px;
    display: inline-block;
    border: 3px solid #F08319;
}

.image_container {
    margin: 0 10%;
    width: 80%;
    height: fit-content;
}