.flex_container {
    height: 100%;
    width: 100%;
    background-color: #0a3851;
    padding: 0 0;
    /*position: relative;*/
    /*z-index: 1;*/
    text-align: center;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

.flex_container > div {
    font-size: 0.75em;
    width: 40%;
    margin: 1em 2em;
    padding: 1em;
    overflow-wrap: break-word;
}

.flex_container > div p {
    font-size: 2em;
}

.flex_container h1 {
    font-size: 4em;
}

.flex_container p {
    color: white;
}

.flex_container h1 {
    color: rgb(240, 150, 0);
}

.flex_container h2 {
    color: white;
    font-size: 2em;
}

@media (max-width: 1200px) {

    .flex_container h1 {
        font-size: 3em;
    }
}

@media (max-width: 768px) {
    .flex_container {
        padding: 10px 10%;
    }

    .flex_container > div {
        width: 100%;
        margin: 1rem 0.3rem;
    }

    .flex_container h1 {
        font-size: 2em;
    }

    .flex_container > div p {
        font-size: 1.5em;
    }
}
