.panel {
    height: fit-content;
    width: 100%;
    background-color: rgba(10, 56, 81, 1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 20%;
    position: relative;
    z-index: 1;
    text-align:center;
}

.webp {
    background-image:
            linear-gradient(rgba(10, 56, 81, 0.9), rgba(10, 56, 81, 0.9)),
            url("../../../public/images/logos/logo_white.png?webp");
}

.png {
    background-image:
            linear-gradient(rgba(10, 56, 81, 0.9), rgba(10, 56, 81, 0.9)),
            url("../../../public/images/logos/logo_white.png");
}

.panel p {
    color: white;
}
.panel  h1 {
    color: rgb(240,150,0);
    margin: 1rem 0 1rem 0;
}
.panel h2 {
    color:white;
}

@media (max-width: 1200px) {
    .panel {
        padding: 30px 15%;
    }
}


@media (max-width: 768px) {
    .panel {
        padding: 10px 5%;
    }
}

