.gradient_base {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
}

.gradient_bottom {
    background: linear-gradient(
            rgba(14, 56, 81, 0.0) 40%,
            rgba(14, 56, 81, 0.35) 50%,
            rgba(14, 56, 81, 0.85) 75%,
            rgba(14, 56, 81, 1) 100%) rgba(1, 1, 1, 0.15);
}

.gradient_top {
    background: linear-gradient(0deg,
    rgba(14, 56, 81, 0.0) 40%,
    rgba(14, 56, 81, 0.35) 50%,
    rgba(14, 56, 81, 0.85) 75%,
    rgba(14, 56, 81, 1) 100%) rgba(1, 1, 1, 0.15);
}

.gradient_top_bottom {
    background: linear-gradient(0deg,
    rgba(14, 56, 81, 0.0) 40%,
    rgba(14, 56, 81, 0.35) 50%,
    rgba(14, 56, 81, 0.85) 75%,
    rgba(14, 56, 81, 1) 100%),
    linear-gradient(
            rgba(14, 56, 81, 0.0) 40%,
            rgba(14, 56, 81, 0.35) 50%,
            rgba(14, 56, 81, 0.85) 75%,
            rgba(14, 56, 81, 1) 100%) rgba(1, 1, 1, 0.15);
}

.parallax_banner {
    height: 1000px;
}

.parallax_banner > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax_banner h2 {
    color: rgb(250, 140, 0);
    font-size: 1rem;
    text-shadow: -3px -1px 0 rgb(25, 34, 39), 0 0 20px rgb(0, 0, 0);
}

.parallax_banner > div > p {
    color: white;
    font-size: 3rem;
}