.header_container_left,
.header_container_right,
.header_container_center {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 5rem;
    font-size: 5rem;
    display: flex;
    flex-flow: row;
}

.container {
    width: 100%;
    height: 100%;
}

.header_container_left {
    justify-content: flex-start;
}

.header_container_right {
    justify-content: flex-end;
}

.header_container_left > p,
.header_container_right > p{
    z-index: 2;
    color: rgb(250, 140, 0);
    text-shadow:
            -6px -3px 0 rgb(25, 34, 39),
            0 0 20px rgb(0, 0, 0)
}

.left_line_container,
.right_line_container {
    position: relative;
    width: 20%;
}

.max_fill_container {
    position: relative;
    width: 50%;
}

.left_line {
    z-index: 1;
    position: absolute;
    right: -5%;
    top: 10%;
    height: 10%;
    background: rgb(25, 34, 39);
    width: 105%;
}

.right_line {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 20%;
    height: 10%;
    background: rgb(250, 140, 0);
    width: 104%;
}

@media (max-width: 1200px) {

    .header_container_left,
    .header_container_right {
        font-size: 3rem;
        line-height: 3rem;
    }
}

@media (max-width: 768px) {

    .header_container_left,
    .header_container_right {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    .left_line,
    .right_line {
        height: 10%;
    }

    .right_line {
        width: 112%;
    }

    .header_container_left > p,
    .header_container_right > p {
        text-shadow: -4px -2px 0 rgb(25, 34, 39)
    }

    .left_line_container,
    .right_line_container{
        width: 10%;
    }
}
