.nav_area {
    position: absolute;
    width: 100%;
    background: rgba(14, 56, 81, 0.7);
    top: 0;
    left: 0;
    height: 80px;
    margin: 0 auto;
    max-height: 300px;
    z-index: 100;
}

.nav_area_sticky {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    left: 0;
    margin: 0 auto;
    max-height: 300px;
    background: linear-gradient(90deg,
    rgba(240, 131, 25, 0.0) 40%,
    rgba(240, 131, 25, 0.75) 50%,
    rgba(240, 131, 25, 0.95) 70%,
    rgba(240, 131, 25, 1) 100%);
    z-index: 100;
}

.spacer {
    flex: 1;
}

.logo {
    margin: 0 0 0 1rem;
    width: 70px;
    height: 70px;
    display: inline-block;
}

.logo_sticky {
    margin: 80px 0 0;
    position: absolute;
    max-width: unset;
    width: 100px;
    height: 100px;
}

.toolbar {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.nav_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav_items a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    text-shadow: 1px 1px 0 rgba(14, 56, 81, 1);
    padding: 0.3rem 2.5rem 0.3rem 0.6rem;
}

.nav_items li {
    background-size: 100%;
}

.nav_items_prim li {
    background: linear-gradient(
            to right,
            rgba(240, 131, 25, 1) 15px,
            rgba(240, 131, 25, 1) 5px,
            transparent 10px
    ) repeat-x;
}

.nav_items_prim li:last-child {
    background: none;
}

.nav_items_prim li:hover {
    background: linear-gradient(
            to right,
            rgba(240, 131, 25, 1) 0%,
            rgba(240, 131, 25, 1) 5px,
            transparent
    );
}

.nav_items_alter li {
    background: linear-gradient(
            to right,
            rgba(14, 56, 81, 1) 15px,
            rgba(14, 56, 81, 1) 5px,
            transparent 10px
    ) repeat-x;
}

.nav_items_alter li:last-child {
    background: none;
}

.nav_items_alter li:hover {
    background: linear-gradient(
            to right,
            rgba(14, 56, 81, 1) 0%,
            rgba(14, 56, 81, 1) 5px,
            transparent
    );
}

@media (max-width: 1200px) {

    .nav_items a {
        font-size: 1em;
        padding: 0.3em 1.1em 0.3em 0.6em;
    }
}


@media (max-width: 768px) {
    .toolbar {
        flex-direction: row-reverse;
    }

    .nav_items {
        display: none;
    }

    .nav_items a {
        font-size: 1rem;
    }

    .spacer {
        display: none;
    }

    .logo {
        position: absolute;
        left: 10px;
        margin: 0;
    }

    .logo_sticky {
        margin: 0 0 0 1rem;
        width: 70px;
        height: 70px;
        display: inline-block;
    }

    .nav_area_sticky {
        position: absolute;
        width: 100%;
        background: rgba(14, 56, 81, 0.7);
        top: 0;
        left: 0;
        height: 80px;
        margin: 0 auto;
        max-height: 300px;
    }
}

@media (min-width: 769px) {
    .button {
        display: none;
    }

    .logo {
        margin-left: 0;
    }

}