html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  font-family: "Aller Bold", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4em;
  margin: 0;
}

h1  p {
  font-family: "Aller Bold", sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: Aller, sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-family: Avenir, serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Aller';
  src: url('/fonts/Aller.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Aller Bold';
  src: url('/fonts/Aller-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Aller Display';
  src: url('/fonts/Aller-Display.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Flamenco';
  src: url('/fonts/Flamenco-Regular.ttf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 15px;
  background: #0a3851;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #F08319;
}

::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }
}