
.diced_line {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    justify-content: space-between;
}

.diced_line p {
    font-size: 1.5em;
    width: 90%;
}

.dice {
    width: 40px;
    height: 40px;
}

.spacer {
    width: 100px;
}

@media (max-width: 1200px) {
    .diced_line p {
        font-size: 1.2em;
    }

    .dice {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .dice {
        width: 20px;
        height: 20px;
    }

    .diced_line p {
        font-size: 1em;
    }
}